<div class="bottom-section">
    <footer>
        <div class="footer-top">
            <img src="{{info.logo.url}}" alt="">
            <div class="footer-social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-info">
            <div class="footer-links">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Career</a>
                <a href="#">Contact Us</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
            </div>
            <div class="footer-contact">
                <div class="contact-detail">
                    <i class="fa-solid fa-envelope"></i>
                    <div class="contact-info">
                        <p>Email</p>
                        <p>{{info.email}}</p>
                    </div>
                </div>
                <div class="contact-detail">
                    <i class="fa-solid fa-location-dot"></i>
                    <div class="contact-info">
                        <p>Location</p>
                        <p>{{info.address}}</p>
                    </div>
                </div>
            </div>
            <div class="footer-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15551.356838028854!2d77.598523!3d12.982134!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1714d2e763c3%3A0xaf89561c107d050!2sTechFNatic!5e0!3m2!1sen!2sin!4v1684260627480!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </footer>
    <hr class="footer-hr">
    <p class="copyright">
        Copyright &copy; 2022
    </p>
</div>